<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CONSLEAGUE FABRICS</title>
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
	<th:block th:include="/_header"></th:block>
	<th:block th:include="/_menu"></th:block>

	<div class="page-title">
		<b>Welcome to India's Most Loved Store for Fabrics & More </b><br> <br>
		"In difficult times, fashion is always outrageous." —Elsa Schiaparelli
	</div>
	<div class="demo-container">
		<h7>Sale is live!!</h7>
		<ul>
			<li><a th:href="@{/productList}" style="color: #ff1476">NEW ARRIVALS</a></li>
			<li><a th:href="@{/productList}" style="color: #f5e838">30% Discount</a></li>
			<li><a th:href="@{/productList}" style="color: #38f596">Upto 70% Discount</a></li>
		</ul>
	</div>

	<th:block th:include="/_footer"></th:block>

</body>