<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Material Details</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
       
      <div class="page-title"><b>Material Details</b></div>
       
 <table border="1" style="width:100%">
         <tr>
            <th>Material Name</th>
            <th>Cost</th>
            <th>Color</th>
            <th>Quantity</th>
            <th>Threshold</th>
            <th>Update</th>
         </tr>
         <tr th:each="DetailInfo : ${paginationResult.list}">
            <td th:utext="${DetailInfo.materialName}"></td>
            <td th:utext="${DetailInfo.materialCost}"></td>
            <td th:utext="${DetailInfo.materialColor}"></td>
            <td th:utext="${DetailInfo.materialQuantity}"></td>
            <td th:utext="${DetailInfo.materialThreshold}"></td>
<!--             <td style="color:red;" th:utext="${#numbers.formatDecimal(DetailInfo.materialQuantity,3,2,'COMMA')}"> -->
            <td><a th:href="@{|/admin/order?orderId=${DetailInfo.materialId}|}">Edit</a></td>
         </tr>
      </table>
       
      <th:block th:include="/_footer"></th:block>
       
   </body>
</html>