<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Material Details</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
       <style>
            html, body {
                width: 100%;
                height: 90%;
                margin: 0;
                padding: 0;
            }
            #container9 {
                width: inherit;
                height: inherit;
                margin: 0;
                padding: 0;
            }
            h1 {
                margin: 0;
                padding: 0;
            }
        </style>
   </head>
   <body>
    <div id="container9">
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
       
      <div class="page-title"><b>Material Details</b></div>
       
 <table border="1" style="width:100%">
         <tr>
            <th>Raw Material Name</th>
            <th>Cost</th>
            <th>Color</th>
            <th>Quantity</th>
            <th>Threshold</th>
            <th>Last Updated</th>
         </tr>
         <tr th:each="DetailInfo : ${paginationResult.list}">
            <td th:utext="${DetailInfo.materialName}"></td>
            <td th:utext="${DetailInfo.materialCost}"></td>
            <td th:utext="${DetailInfo.materialColor}"></td>
            <td th:utext="${DetailInfo.materialQuantity}"></td>
            <td style="color:red;" th:utext="${DetailInfo.materialThreshold}"></td>
            <td th:utext="${DetailInfo.lastModified}"></td>
<!--             <td style="color:red;" th:utext="${#numbers.formatDecimal(DetailInfo.materialQuantity,3,2,'COMMA')}"> -->
<!--             <td><a th:href="@{|/admin/order?orderId=${DetailInfo.materialId}|}">Edit</a></td> -->
         </tr>
      </table>
       
<!--        <div class="page-navigator" th:if="${paginationResult.totalPages > 1}"> -->
<!--          <th:block th:each="page : ${paginationProducts.navigationPages}"> -->
         
<!--             <a th:href="@{|/admin/materialList?page=${page}|}" th:if="${page != -1}" -->
<!--                class="nav-item" th:utext="${page}"></a> -->
               
<!--             <span class="nav-item" th:if="${page == -1}"> ... </span> -->
             
<!--          </th:block> -->
<!--       </div> -->
      <th:block th:include="/_footer"></th:block>
       </div>
   </body>
</html>